
body {
    padding-top: 90px;
    background-image: url(http://www.joburgchiropractor.co.za/images/background.jpg);
    /* font-family: "Poppins", sans-serif;
    height: 100vh; */

}
hr{
    background-color: white;
}
.box{
    justify-content: center;
    border:2px solid black;
    width: 60%;
    /* margin-top: 4%; */
    padding: 20px;
    background-color: blanchedalmond;
}

.btn{
    margin-top: 20px;
}

.btn {
    background: #34d934;
    background-image: -webkit-linear-gradient(top, #34d934, #15852c);
    background-image: -moz-linear-gradient(top, #34d934, #15852c);
    background-image: -ms-linear-gradient(top, #34d934, #15852c);
    background-image: -o-linear-gradient(top, #34d934, #15852c);
    background-image: linear-gradient(to bottom, #34d934, #15852c);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cfc49;
    background-image: -webkit-linear-gradient(top, #3cfc49, #3cfc49);
    background-image: -moz-linear-gradient(top, #3cfc49, #3cfc49);
    background-image: -ms-linear-gradient(top, #3cfc49, #3cfc49);
    background-image: -o-linear-gradient(top, #3cfc49, #3cfc49);
    background-image: linear-gradient(to bottom, #3cfc49, #3cfc49);
    text-decoration: none;
  }
  